*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  line-height: 1.4;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.container{
  /* background-color: red; */
}

.product-img{
  float: left;
  margin-right: 40px;
}

.product{
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.product-info{
  width: 243px;
  float: left;
  margin-top: 20px;
  margin-right: 40px;
}

.price{
  float: left;
  font-size: 20px;
}
.shiping{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  float: right;
  margin-bottom: 20px;
  margin-top: 8px;
}

.sale{
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top:-10px;
  left: -38px;
}

.product-discription{
  clear: both;
  margin-bottom: 10px;
}

.more-info:hover,.more-info:active{
  text-decoration: none;
}
.color{
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}
.blue-color{
background-color: #2f6ee2;
}
.red-color{
  background-color:#ec2f2f;
}

.green-color{
  background-color: #90cc20;
}
.yellow-color{
  background-color: #f0bf1e;
}
.pink-color{
  background-color: pink;
}
.product-details{
  width: 243px;
  float: left;
  margin-top: 20px;
}
.detail-title{
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list{
  margin-bottom: 10px;
}

.add-chart{
   background-color: #000;
   border: none;
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   cursor: pointer;
   padding: 15px;
   width: 100%;
   border-top: 4px solid black;
}

.add-chart:hover{
  color: #000;
  background-color: #fff;
}

.first-div{
  margin: auto;
  width: 800px;
  background-color: #1098ad;
  border-left: 10px;
  height: 80px;
  padding: 10px;
}

h1{
  font-size: 30px;
  text-transform: uppercase;
}
nav{
  font-size: 22px;
  font-weight: bold;
}

a:link{
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited{
  color: brown;
}